<md-content class="md-theme-light" layout-xs="column" layout="row" layout-align="center">
  <div flex-xs flex-gt-xs="100" layout="column">
    <md-card md-theme="forest" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Reservar Vuelo</span>
          <span>{{vmReserva.vuelo.ciudadOrigen.nombre}} - {{vmReserva.vuelo.ciudadOrigen.nombre}}</span>
          <span>{{vmReserva.vuelo.fecha_salida}}</span>
          <span>{{vmReserva.vuelo.hora_salida}} - {{vmReserva.vuelo.hora_llegada}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form class="form">
          <div layout-gt-sm="row" class="layout-gt-sm-row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Clase</label>
              <md-select ng-model="vmReserva.vuelo.clase" required name="">
                <md-option ng-repeat="tipo in vmReserva.vuelos_detalle" value="{{tipo._id}}">
                  {{tipo.name}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Cantidad puestos</label>
              <input ng-model="vmReserva.informacion.numero" type="number">
            </md-input-container>
          </div>
        </form>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ng-click="vmReserva.guardarReserva()">Reservar</md-button>
        <md-button class="md-raised md-primary" ui-sref="auth.vuelos">Cancelar</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>