<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 hide-print md-closed ng-isolate-scope _md md-locked-open"
  md-component-id="left" hide-print="" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" style=" height: 99%;">
  <header class="nav-header">
    <h1 class="docs-logotype md-heading">Reserva de vuelos</h1>
  </header>
  <md-content role="navigation" class="_md flex">
    <ul id="docs-menu-Demos" class="menu-toggle-list" aria-hidden="true" style="visibility: visible; height: 0px;">
      <li class="parent-list-item">
        <menu-link section="page">
          <a class="md-button md-ink-ripple" ng-href="demo/autocomplete" ng-click="focusSection()" href="demo/autocomplete">
          <span class="ng-binding ng-scope">Autocomplete</span>
          </a>
        </menu-link>
      </li>
      <li class="parent-list-item">
        <menu-link section="page">
          <a class="md-button md-ink-ripple" ng-href="demo/bottomSheet" ng-click="focusSection()" href="demo/bottomSheet">
            <span class="ng-binding ng-scope">Bottom Sheet</span>
          </a>
        </menu-link>
      </li>
    </ul>
  </md-content>
  <md-content role="navigation" class="_md flex">
    <a href="">
      <h2 class="menu-heading md-subhead" id="param">perfil</h2>
    </a>
    <a href="">
      <h2 class="menu-heading md-subhead" id="homes">vuelos</h2>
    </a>
  </md-content>
</md-sidenav>