<div ng-cloak>
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <div>
        <h2 class="md-toolbar-tools">Reserva de Vuelos</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">Perfil</button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="">Mi Cuenta</md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdMenu.open()">Ver</md-button>
                  <md-menu-content>
                    <md-menu-item>
                      <md-button ng-click="">Mis Vuelos</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ui-sref="auth.misreservas">Mis reservas</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="">Mi Cuenta</md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ui-sref="signin">Cerrar Sesión</md-button>
              </md-menu-item>
            </md-menu-content>
            <md-button ui-sref="auth.vuelos">Vuelos</md-button>
            <md-button ui-sref="auth.misreservas">Mis reservas</md-button>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
</div>